<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a asp-controller="Default" asp-action="Index" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Go Website</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminDashboard" asp-action="Index" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Staff" asp-action="Index" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Staffs</span>
                </a>
            </li>
            <li>
                <a asp-controller="Testimonial" asp-action="Index" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">References</span>
                </a>
            </li>
            <li>
                <a asp-controller="Service" asp-action="Index" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminBooking" asp-action="Index" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Bookings</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminAbout" asp-action="Index" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminRoom" asp-action="Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminGuest" asp-action="Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminContact" asp-action="Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Emailbox</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminMail" asp-action="Index" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Email Actions</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminImageFile" asp-action="Index" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Image File Uploads </span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminFile" asp-action="Index" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text">Text File Uploads </span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminUsers" asp-action="Index" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminWorkLocation" asp-action="Index" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Work Locations</span>
                </a>
            </li>
            <li>
                <a asp-controller="Role" asp-action="Index" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a asp-controller="RoleAssign" asp-action="Index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Role Assigment</span>
                </a>
            </li>
            <li>
                <a asp-controller="Settings" asp-action="Index" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Settings</span>
                </a>
            </li>
            <li>
                <a asp-controller="AdminWorkLocation" asp-action="Index" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Sign Out</span>
                </a>
            </li>

        </ul>
    </div>
</div>
