@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Room Number</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Update</th>
        
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.RoomNumber</td>
            <td>@item.Title</td>
            <td><a class="btn mb-1 btn-rounded btn-outline-danger" asp-controller="AdminRoom" asp-action="DeleteRoom" asp-route-id=@item.RoomID>Delete</a></td>
            <td><a class="btn mb-1 btn-rounded btn-outline-success" asp-controller="AdminRoom" asp-action="UpdateRoom" asp-route-id=@item.RoomID>Update</a></td>
            
        </tr>
    }
</table>

<a href="/AdminRoom/AddRoom/" class="btn mb-1 btn-rounded btn-outline-info">Add New Room</a>

